*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/.name
rxjava-retrofit/src/test/java/com/phjethva/rx/ExampleUnitTest.java
rxjava-retrofit/src/androidTest/java/com/phjethva/rx/ExampleInstrumentedTest.java
mvvm-rxjava-retrofit/src/test/java/com/phjethva/mvvm_rx/ExampleUnitTest.java
mvvm-rxjava-retrofit/src/androidTest/java/com/phjethva/mvvm_rx/ExampleInstrumentedTest.java
mvvm-dagger-rxjava-retrofit/src/androidTest/java/com/phjethva/mvvm_dg/ExampleInstrumentedTest.java
mvvm-dagger-rxjava-retrofit/src/test/java/com/phjethva/mvvm_dg/ExampleUnitTest.java
rxjava-retrofit/proguard-rules.pro
mvvm-rxjava-retrofit/proguard-rules.pro
mvvm-dagger-rxjava-retrofit/proguard-rules.pro
