<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phjethva.mvvm_dg">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" />

</manifest>
